@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
}
h5{
  color: black;
}
.card{
  justify-content: center;
  align-items: center;
}
body{
  font-family: var(--sm-font);
  margin: 0px 5px;
}
.card{
  border: none;
}
footer .brand{
  font-family: var(--lg-font);
  letter-spacing: 2px;
}
footer a{
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
footer a:hover{
  color: var(--pink)!important;
}

/* media queries */
@media(min-width: 992px){
  .nav-item{
      border-bottom: none;
  }
}
